@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&display=swap');

.App {
  box-sizing: border-box;
  min-height: 100vh;
  background-image: radial-gradient(circle at 25%, #617886, #dbe5e6);
}

