/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&display=swap'); */

.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    color: #64bcc5;
    text-shadow: 2px 2px 4px #000;
    background-image: url('https://res.cloudinary.com/dpn6ltns1/image/upload/v1597343482/Project%204/City_s5aafy.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #101112;
    border-radius: 5px;
}

.landing-button {
    height: 25px;
    width: 60px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: .35em;
    background-color: #64bcc5;
    border-radius: 8px;
   
}